# Flask
Flask
Flask-Script
Flask-Testing
blinker

# Miscellaneous
requests
numpy
pandas
html5lib

# Dev
Fabric3
coverage

# Production
gunicorn

# Documentation
Sphinx
sphinx-autobuild
sphinx-rtd-theme
