<div class="hit">
    <% if(titleField !== '') { %>
        <% var title = $.grep(fields, function(f) { return f.name === titleField; })[0].value; %>
        <h6><%= title %></h6>
    <% } %>

    <% _.each(fields, function(field) { %>
        <% if(field.name != titleField) { %>
            <p class="hit-field"><span><%= field.name %>: </span><%= field.value %></p>
        <% } %>
    <% }); %>
</div>
