<div class="row">
    <div class="col-xs-12">
        <div id="panel-configure" class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-8 col-md-offset-2">
                    <h3 class="text-center">Configure the uploaded database:</h3>
                </div>
            </div>
        </div>
    </div>
</div>
