<div class="hit">
    <% if(titleField !== '') { %>
        <% const title = $.grep(fields, (f) => { return f.name == titleField; }).value; %>
        <h6><%= title %></h6>
    <% } %>

    <% _.each(fields, (field) => { %>
        <% if(field.name != titleField) { %>
            <p class="hit-field"><span><%= field.name %>: </span><%= field.value %></p>
        <% } %>
    <% }); %>
</div>
