<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            <h1>Welcome to CompleteSearch</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vivamus scelerisque est nec nisi efficitur, ut mattis odio
                porttitor. Pellentesque tempus vitae nibh non lobortis.
                Integer sagittis massa non diam ultrices ultricies.
            </p>
        </div>
    </div>
</div>
