.completesearch-description {
    padding: 70px 0 0 0;
}

.completesearch-features {
    padding: 10px 0 0 0;
}

.completesearch-start {
    padding: 40px 0 80px;
}

.completesearch-upload {
    padding: 70px 0 85px;
}
