#settings {
    padding-top: 70px;
}

#settings-section {
    padding-top: 0;
}

#settings-section .title {
    text-align: center;
}

#settings-form {
    text-align: center;
}

#settings-form .form-group {
    text-align: left;
}

#settings-form .form-group label.control-label {
    font-size: 13px;
    margin: 6px 0 0 0;
}

#settings-form .form-group label.control-label.title-field {
    margin-top: 15px;
}

#settings-form .config-tooltip {
    font-weight: bold;
}

.bootstrap-select .btn {
    text-transform: none;
}

// #save-settings {
//     margin-top: 45px;
// }
